=begin
#1MSG WhatsApp Business API (Public)

#Public client API for sending messages, managing groups, flows, and templates.  This is the API exposed to end customers via platform.1msg.io  **Authentication:** All requests require `token` query parameter with JWT or API key.  **Documentation:** https://help.1msg.io/platform-1msg/getting-start/quick-start **API Docs:** https://docs.1msg.io/ 

The version of the OpenAPI document: 1.0.0
Contact: support@1msg.io
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OneMsgSdk
  class FlowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Flow
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [CreateGroups200Response]
    def create_flows(token, opts = {})
      data, _status_code, _headers = create_flows_with_http_info(token, opts)
      data
    end

    # Create Flow
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Array<(CreateGroups200Response, Integer, Hash)>] CreateGroups200Response data, response status code and response headers
    def create_flows_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.create_flows ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.create_flows"
      end
      # resource path
      local_var_path = '/flows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token
      query_params[:'wabaAccountId'] = opts[:'waba_account_id'] if !opts[:'waba_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateGroups200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.create_flows",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#create_flows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deprecate Flow
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Hash<String, Object>]
    def create_flows_flow_id_deprecate(flow_id, token, opts = {})
      data, _status_code, _headers = create_flows_flow_id_deprecate_with_http_info(flow_id, token, opts)
      data
    end

    # Deprecate Flow
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def create_flows_flow_id_deprecate_with_http_info(flow_id, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.create_flows_flow_id_deprecate ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling FlowsApi.create_flows_flow_id_deprecate"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.create_flows_flow_id_deprecate"
      end
      # resource path
      local_var_path = '/flows/{flowId}/deprecate'.sub('{flowId}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token
      query_params[:'wabaAccountId'] = opts[:'waba_account_id'] if !opts[:'waba_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.create_flows_flow_id_deprecate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#create_flows_flow_id_deprecate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish Flow
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Hash<String, Object>]
    def create_flows_flow_id_publish(flow_id, token, opts = {})
      data, _status_code, _headers = create_flows_flow_id_publish_with_http_info(flow_id, token, opts)
      data
    end

    # Publish Flow
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def create_flows_flow_id_publish_with_http_info(flow_id, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.create_flows_flow_id_publish ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling FlowsApi.create_flows_flow_id_publish"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.create_flows_flow_id_publish"
      end
      # resource path
      local_var_path = '/flows/{flowId}/publish'.sub('{flowId}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token
      query_params[:'wabaAccountId'] = opts[:'waba_account_id'] if !opts[:'waba_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.create_flows_flow_id_publish",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#create_flows_flow_id_publish\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Flow
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [DeleteFlowsFlowId200Response]
    def delete_flows_flow_id(flow_id, token, opts = {})
      data, _status_code, _headers = delete_flows_flow_id_with_http_info(flow_id, token, opts)
      data
    end

    # Delete Flow
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Array<(DeleteFlowsFlowId200Response, Integer, Hash)>] DeleteFlowsFlowId200Response data, response status code and response headers
    def delete_flows_flow_id_with_http_info(flow_id, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.delete_flows_flow_id ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling FlowsApi.delete_flows_flow_id"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.delete_flows_flow_id"
      end
      # resource path
      local_var_path = '/flows/{flowId}'.sub('{flowId}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token
      query_params[:'wabaAccountId'] = opts[:'waba_account_id'] if !opts[:'waba_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteFlowsFlowId200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.delete_flows_flow_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#delete_flows_flow_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Flow Details
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [CreateGroups200Response]
    def get_flows_flow_id(flow_id, token, opts = {})
      data, _status_code, _headers = get_flows_flow_id_with_http_info(flow_id, token, opts)
      data
    end

    # Get Flow Details
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Array<(CreateGroups200Response, Integer, Hash)>] CreateGroups200Response data, response status code and response headers
    def get_flows_flow_id_with_http_info(flow_id, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.get_flows_flow_id ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling FlowsApi.get_flows_flow_id"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.get_flows_flow_id"
      end
      # resource path
      local_var_path = '/flows/{flowId}'.sub('{flowId}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token
      query_params[:'wabaAccountId'] = opts[:'waba_account_id'] if !opts[:'waba_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateGroups200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.get_flows_flow_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#get_flows_flow_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview Flow
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Hash<String, Object>]
    def get_flows_flow_id_preview(flow_id, token, opts = {})
      data, _status_code, _headers = get_flows_flow_id_preview_with_http_info(flow_id, token, opts)
      data
    end

    # Preview Flow
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def get_flows_flow_id_preview_with_http_info(flow_id, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.get_flows_flow_id_preview ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling FlowsApi.get_flows_flow_id_preview"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.get_flows_flow_id_preview"
      end
      # resource path
      local_var_path = '/flows/{flowId}/preview'.sub('{flowId}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token
      query_params[:'wabaAccountId'] = opts[:'waba_account_id'] if !opts[:'waba_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.get_flows_flow_id_preview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#get_flows_flow_id_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business encryption public key
    # Retrieve the WhatsApp business public key and signature status for this channel's phone number. Required before publishing or sending Flows that use data encryption. 
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsappBusinessEncryption200Response]
    def get_whatsapp_business_encryption(token, opts = {})
      data, _status_code, _headers = get_whatsapp_business_encryption_with_http_info(token, opts)
      data
    end

    # Get business encryption public key
    # Retrieve the WhatsApp business public key and signature status for this channel&#39;s phone number. Required before publishing or sending Flows that use data encryption. 
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsappBusinessEncryption200Response, Integer, Hash)>] GetWhatsappBusinessEncryption200Response data, response status code and response headers
    def get_whatsapp_business_encryption_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.get_whatsapp_business_encryption ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.get_whatsapp_business_encryption"
      end
      # resource path
      local_var_path = '/whatsapp_business_encryption'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsappBusinessEncryption200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.get_whatsapp_business_encryption",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#get_whatsapp_business_encryption\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Flows
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [ListFlows200Response]
    def list_flows(token, opts = {})
      data, _status_code, _headers = list_flows_with_http_info(token, opts)
      data
    end

    # List Flows
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Array<(ListFlows200Response, Integer, Hash)>] ListFlows200Response data, response status code and response headers
    def list_flows_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.list_flows ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.list_flows"
      end
      # resource path
      local_var_path = '/flows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token
      query_params[:'wabaAccountId'] = opts[:'waba_account_id'] if !opts[:'waba_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListFlows200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.list_flows",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#list_flows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Flow Structure
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [PatchFlowsFlowIdAssets200Response]
    def patch_flows_flow_id_assets(flow_id, token, opts = {})
      data, _status_code, _headers = patch_flows_flow_id_assets_with_http_info(flow_id, token, opts)
      data
    end

    # Update Flow Structure
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Array<(PatchFlowsFlowIdAssets200Response, Integer, Hash)>] PatchFlowsFlowIdAssets200Response data, response status code and response headers
    def patch_flows_flow_id_assets_with_http_info(flow_id, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.patch_flows_flow_id_assets ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling FlowsApi.patch_flows_flow_id_assets"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.patch_flows_flow_id_assets"
      end
      # resource path
      local_var_path = '/flows/{flowId}/assets'.sub('{flowId}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token
      query_params[:'wabaAccountId'] = opts[:'waba_account_id'] if !opts[:'waba_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PatchFlowsFlowIdAssets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.patch_flows_flow_id_assets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#patch_flows_flow_id_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Flow Metadata
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Hash<String, Object>]
    def patch_flows_flow_id_metadata(flow_id, token, opts = {})
      data, _status_code, _headers = patch_flows_flow_id_metadata_with_http_info(flow_id, token, opts)
      data
    end

    # Update Flow Metadata
    # @param flow_id [String] Flow ID
    # @param token [String] JWT token or API key for authorization
    # @param [Hash] opts the optional parameters
    # @option opts [String] :waba_account_id 
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def patch_flows_flow_id_metadata_with_http_info(flow_id, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.patch_flows_flow_id_metadata ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling FlowsApi.patch_flows_flow_id_metadata"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.patch_flows_flow_id_metadata"
      end
      # resource path
      local_var_path = '/flows/{flowId}/metadata'.sub('{flowId}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token
      query_params[:'wabaAccountId'] = opts[:'waba_account_id'] if !opts[:'waba_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.patch_flows_flow_id_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#patch_flows_flow_id_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set business encryption public key
    # Upload and sign a 2048-bit RSA business public key (PEM) for this channel's phone number. Meta requires a signed key before Flow publish/send. Only one active key per number; a new upload replaces the previous key. 
    # @param token [String] JWT token or API key for authorization
    # @param set_whatsapp_business_encryption_request [SetWhatsappBusinessEncryptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerce200Response]
    def set_whatsapp_business_encryption(token, set_whatsapp_business_encryption_request, opts = {})
      data, _status_code, _headers = set_whatsapp_business_encryption_with_http_info(token, set_whatsapp_business_encryption_request, opts)
      data
    end

    # Set business encryption public key
    # Upload and sign a 2048-bit RSA business public key (PEM) for this channel&#39;s phone number. Meta requires a signed key before Flow publish/send. Only one active key per number; a new upload replaces the previous key. 
    # @param token [String] JWT token or API key for authorization
    # @param set_whatsapp_business_encryption_request [SetWhatsappBusinessEncryptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerce200Response, Integer, Hash)>] CreateCommerce200Response data, response status code and response headers
    def set_whatsapp_business_encryption_with_http_info(token, set_whatsapp_business_encryption_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlowsApi.set_whatsapp_business_encryption ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling FlowsApi.set_whatsapp_business_encryption"
      end
      # verify the required parameter 'set_whatsapp_business_encryption_request' is set
      if @api_client.config.client_side_validation && set_whatsapp_business_encryption_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_whatsapp_business_encryption_request' when calling FlowsApi.set_whatsapp_business_encryption"
      end
      # resource path
      local_var_path = '/whatsapp_business_encryption'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_whatsapp_business_encryption_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerce200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"FlowsApi.set_whatsapp_business_encryption",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlowsApi#set_whatsapp_business_encryption\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
